:root {
  --color-neutral-50: #F9F9F9;
  --color-neutral-100: #F2F2F2;
  --color-neutral-200: #E7E7E7;
  --color-neutral-300: #D9D9D9;
  --color-neutral-400: #C5C3C3;
  --color-neutral-500: #A19B9D;
  --color-neutral-600: #777374;
  --color-neutral-700: #5B5758;
  --color-neutral-800: #444041;
  --color-neutral-900: #231F20;
  --color-primary-50: #FFCBBE;
  --color-primary-300: #FF886B;
  --color-primary-500: #D83F21;
  --color-primary-700: #AA2D15;
  --color-primary-900: #561003;
  --color-success-50: #EAFBE9;
  --color-success-300: #7FE67E;
  --color-success-500: #21D83F;
  --color-success-700: #00B22D;
  --color-success-900: #007A0A;
  --color-warning-50: #FFFCE8;
  --color-warning-300: #FCD042;
  --color-warning-500: #F19509;
  --color-warning-700: #A94205;
  --color-warning-900: #672308;
  --color-error-50: #FCF1EF;
  --color-error-300: #F9979A;
  --color-error-500: #E52736;
  --color-error-700: #AC0211;
  --color-error-900: #700B0F;
  --color-shade-light: #ffffff;
  --color-shade-dark: #000000;
  --text-color: var(--color-neutral-700);
  --heading-color: var(--color-neutral-900);
}

:root {
  --container-max-width: 1920px;
  --container-padding-x: 16px;
  --header-height: 102px;
  --section-margin: 65px;
  --grid-columns: 4;
  --grid-gap: 16px;
}
@media (min-width: 640px) {
  :root {
    --container-padding-x: 32px;
    --header-height: 140px;
  }
}
@media (min-width: 1200px) {
  :root {
    --container-padding-x: 48px;
    --header-height: 0;
    --section-margin: 96px;
    --grid-columns: 12;
    --grid-gap: 24px;
  }
}
@media (min-width: 1600px) {
  :root {
    --container-padding-x: 72px;
  }
}

:root {
  --icon-arrow: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.691889 8.5495L0.691888 6.66712L11.8436 6.66712L6.89218 1.71575L8.23274 0.375196L15.4659 7.60831L8.23274 14.8414L6.89218 13.5009L11.8436 8.5495L0.691889 8.5495Z' fill='%23D83F21'/%3E%3C/svg%3E%0A");
  --icon-quotes: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 0.168317L17.5849 3.27283C16.5535 3.19802 15.7736 3.39751 15.2453 3.87129C14.717 4.34507 14.3774 4.9934 14.2264 5.81628C14.0755 6.63916 14.0377 7.54932 14.1132 8.54675H18V17H10.6038V7.42464C10.6038 4.80638 11.2453 2.83645 12.5283 1.51485C13.8365 0.168317 15.6604 -0.280528 18 0.168317ZM7.39623 0.168317L6.98113 3.27283C5.94969 3.19802 5.16981 3.39751 4.64151 3.87129C4.11321 4.34507 3.77359 4.9934 3.62264 5.81628C3.4717 6.63916 3.43396 7.54932 3.50943 8.54675H7.39623V17H0V7.42464C0 4.80638 0.641509 2.83645 1.92453 1.51485C3.2327 0.168317 5.0566 -0.280528 7.39623 0.168317Z' fill='%23D83F21'/%3E%3C/svg%3E%0A");
  --icon-plus: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.13487 6.86452H0.830078V5.13536H5.13487V0.830566H6.86404V5.13536H11.1688V6.86452H6.86404V11.1693H5.13487V6.86452Z' fill='%23D83F21'/%3E%3C/svg%3E ");
  --icon-download: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 11.575C7.86667 11.575 7.74167 11.5542 7.625 11.5125C7.50833 11.4708 7.4 11.4 7.3 11.3L3.7 7.7C3.5 7.5 3.40417 7.26667 3.4125 7C3.42083 6.73333 3.51667 6.5 3.7 6.3C3.9 6.1 4.1375 5.99583 4.4125 5.9875C4.6875 5.97917 4.925 6.075 5.125 6.275L7 8.15V1C7 0.716667 7.09583 0.479167 7.2875 0.2875C7.47917 0.0958333 7.71667 0 8 0C8.28333 0 8.52083 0.0958333 8.7125 0.2875C8.90417 0.479167 9 0.716667 9 1V8.15L10.875 6.275C11.075 6.075 11.3125 5.97917 11.5875 5.9875C11.8625 5.99583 12.1 6.1 12.3 6.3C12.4833 6.5 12.5792 6.73333 12.5875 7C12.5958 7.26667 12.5 7.5 12.3 7.7L8.7 11.3C8.6 11.4 8.49167 11.4708 8.375 11.5125C8.25833 11.5542 8.13333 11.575 8 11.575ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V12C0 11.7167 0.0958333 11.4792 0.2875 11.2875C0.479167 11.0958 0.716667 11 1 11C1.28333 11 1.52083 11.0958 1.7125 11.2875C1.90417 11.4792 2 11.7167 2 12V14H14V12C14 11.7167 14.0958 11.4792 14.2875 11.2875C14.4792 11.0958 14.7167 11 15 11C15.2833 11 15.5208 11.0958 15.7125 11.2875C15.9042 11.4792 16 11.7167 16 12V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z' fill='%23005EC9'/%3E%3C/svg%3E%0A");
  --icon-link: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10C3.61667 10 2.4375 9.5125 1.4625 8.5375C0.4875 7.5625 0 6.38333 0 5C0 3.61667 0.4875 2.4375 1.4625 1.4625C2.4375 0.4875 3.61667 0 5 0H8C8.28333 0 8.52083 0.0958333 8.7125 0.2875C8.90417 0.479167 9 0.716667 9 1C9 1.28333 8.90417 1.52083 8.7125 1.7125C8.52083 1.90417 8.28333 2 8 2H5C4.16667 2 3.45833 2.29167 2.875 2.875C2.29167 3.45833 2 4.16667 2 5C2 5.83333 2.29167 6.54167 2.875 7.125C3.45833 7.70833 4.16667 8 5 8H8C8.28333 8 8.52083 8.09583 8.7125 8.2875C8.90417 8.47917 9 8.71667 9 9C9 9.28333 8.90417 9.52083 8.7125 9.7125C8.52083 9.90417 8.28333 10 8 10H5ZM7 6C6.71667 6 6.47917 5.90417 6.2875 5.7125C6.09583 5.52083 6 5.28333 6 5C6 4.71667 6.09583 4.47917 6.2875 4.2875C6.47917 4.09583 6.71667 4 7 4H13C13.2833 4 13.5208 4.09583 13.7125 4.2875C13.9042 4.47917 14 4.71667 14 5C14 5.28333 13.9042 5.52083 13.7125 5.7125C13.5208 5.90417 13.2833 6 13 6H7ZM12 10C11.7167 10 11.4792 9.90417 11.2875 9.7125C11.0958 9.52083 11 9.28333 11 9C11 8.71667 11.0958 8.47917 11.2875 8.2875C11.4792 8.09583 11.7167 8 12 8H15C15.8333 8 16.5417 7.70833 17.125 7.125C17.7083 6.54167 18 5.83333 18 5C18 4.16667 17.7083 3.45833 17.125 2.875C16.5417 2.29167 15.8333 2 15 2H12C11.7167 2 11.4792 1.90417 11.2875 1.7125C11.0958 1.52083 11 1.28333 11 1C11 0.716667 11.0958 0.479167 11.2875 0.2875C11.4792 0.0958333 11.7167 0 12 0H15C16.3833 0 17.5625 0.4875 18.5375 1.4625C19.5125 2.4375 20 3.61667 20 5C20 6.38333 19.5125 7.5625 18.5375 8.5375C17.5625 9.5125 16.3833 10 15 10H12Z' fill='%23005EC9'/%3E%3C/svg%3E ");
  --icon-angle: url("data:image/svg+xml,%3Csvg width='10' height='20' viewBox='0 0 10 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.83101 10L0.298259 2.46725C0.0995927 2.26858 0.00284228 2.03208 0.00800894 1.75775C0.0131756 1.48342 0.115093 1.24683 0.313759 1.048C0.512426 0.849333 0.748926 0.75 1.02326 0.75C1.29759 0.75 1.53418 0.849333 1.73301 1.048L9.38876 8.71925C9.56943 8.90008 9.70334 9.10267 9.79051 9.327C9.87784 9.55133 9.92151 9.77567 9.92151 10C9.92151 10.2243 9.87784 10.4487 9.79051 10.673C9.70334 10.8973 9.56943 11.0999 9.38876 11.2808L1.71751 18.952C1.51884 19.1507 1.28493 19.2474 1.01576 19.2423C0.746426 19.2371 0.512426 19.1352 0.313759 18.9365C0.115093 18.7378 0.0157589 18.5013 0.0157589 18.227C0.0157589 17.9527 0.115093 17.7161 0.313759 17.5173L7.83101 10Z'/%3E%3C/svg%3E ");
  --icon-facebook: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50.3 50'%3E%3Cpath d='M50.3,25.2A25.15,25.15,0,1,0,21.2,50V32.4H14.8V25.1h6.4V19.6c0-6.3,3.8-9.8,9.5-9.8a36.52,36.52,0,0,1,5.6.5v6.2H33.1c-3.1,0-4.1,1.9-4.1,3.9v4.7h7l-1.1,7.3H29V50A25.16,25.16,0,0,0,50.3,25.2Z'/%3E%3C/svg%3E");
  --icon-facebook-f: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26.78 50'%3E%3Cpath d='M25,28.13l1.39-9H17.73V13.2c0-2.47,1.21-4.88,5.1-4.88h4V.61a48.21,48.21,0,0,0-7-.61C12.62,0,8,4.33,8,12.18v6.9H0v9.05H8V50h9.78V28.13Z'/%3E%3C/svg%3E");
  --icon-facebook-square: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath d='M44.64,0H5.36A5.36,5.36,0,0,0,0,5.36V44.64A5.36,5.36,0,0,0,5.36,50H20.68V33h-7V25h7V18.9C20.68,12,24.8,8.13,31.13,8.13a42.67,42.67,0,0,1,6.2.54v6.81H33.84c-3.44,0-4.52,2.14-4.52,4.32V25H37l-1.23,8H29.32V50H44.64A5.36,5.36,0,0,0,50,44.64V5.36A5.36,5.36,0,0,0,44.64,0Z'/%3E%3C/svg%3E");
  --icon-x: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50.2 45.38'%3E%3Cpath d='M39.53,0h7.7l-16.82,19.22,19.79,26.16h-15.49l-12.14-15.86-13.88,15.86H.98l17.99-20.56L0,0h15.88l10.96,14.5L39.53,0ZM36.83,40.78h4.27L13.56,4.36h-4.58l27.85,36.41Z'/%3E%3C/svg%3E");
  --icon-instagram: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50.01 50'%3E%3Cpath d='M25,12.18A12.82,12.82,0,1,0,37.83,25,12.8,12.8,0,0,0,25,12.18Zm0,21.15A8.33,8.33,0,1,1,33.35,25,8.34,8.34,0,0,1,25,33.33ZM41.34,11.66a3,3,0,1,1-3-3A3,3,0,0,1,41.34,11.66Zm8.5,3c-.19-4-1.11-7.55-4-10.48S39.33.38,35.32.18s-16.5-.24-20.63,0-7.54,1.1-10.48,4S.38,10.67.18,14.68s-.24,16.5,0,20.63,1.1,7.55,4,10.48,6.48,3.83,10.48,4,16.5.24,20.63,0,7.55-1.1,10.48-4,3.83-6.48,4-10.48.23-16.49,0-20.62ZM44.5,39.74a8.41,8.41,0,0,1-4.75,4.75c-3.29,1.31-11.1,1-14.74,1s-11.46.29-14.74-1a8.44,8.44,0,0,1-4.75-4.75c-1.31-3.29-1-11.1-1-14.74s-.29-11.46,1-14.74a8.41,8.41,0,0,1,4.75-4.75c3.29-1.31,11.1-1,14.74-1s11.46-.29,14.74,1a8.41,8.41,0,0,1,4.75,4.75c1.31,3.29,1,11.1,1,14.74S45.81,36.46,44.5,39.74Z'/%3E%3C/svg%3E");
  --icon-instagram-square: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath d='M25,19.05A6,6,0,1,0,31,25,5.95,5.95,0,0,0,25,19.05Zm13.92-4.58a6,6,0,0,0-3.4-3.39c-2.34-.93-7.92-.72-10.52-.72s-8.18-.22-10.53.72a6,6,0,0,0-3.39,3.39c-.92,2.34-.72,7.93-.72,10.53s-.2,8.18.72,10.53a6.06,6.06,0,0,0,3.4,3.39c2.34.93,7.92.72,10.52.72s8.18.21,10.53-.72a6,6,0,0,0,3.39-3.39c.93-2.35.72-7.93.72-10.53s.21-8.18-.72-10.53ZM25,34.15A9.15,9.15,0,1,1,34.15,25,9.15,9.15,0,0,1,25,34.15ZM34.53,17.6a2.14,2.14,0,1,1,2.13-2.14h0a2.12,2.12,0,0,1-2.12,2.14ZM44.64,0H5.36A5.36,5.36,0,0,0,0,5.36V44.64A5.36,5.36,0,0,0,5.36,50H44.64A5.36,5.36,0,0,0,50,44.64V5.36A5.36,5.36,0,0,0,44.64,0ZM42.73,32.37c-.14,2.86-.79,5.39-2.88,7.47s-4.62,2.75-7.48,2.89-11.79.17-14.73,0-5.39-.8-7.48-2.89-2.75-4.62-2.89-7.47-.16-11.79,0-14.74.79-5.39,2.89-7.47,4.63-2.74,7.48-2.88,11.78-.17,14.73,0,5.39.8,7.48,2.88a10.63,10.63,0,0,1,2.88,7.49C42.9,20.58,42.9,29.42,42.73,32.37Z'/%3E%3C/svg%3E");
  --icon-linkedin-square: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath d='M46.43,0H3.56A3.59,3.59,0,0,0,0,3.6V46.4A3.59,3.59,0,0,0,3.56,50H46.43A3.6,3.6,0,0,0,50,46.4V3.6A3.6,3.6,0,0,0,46.43,0ZM15.11,42.86H7.7V19h7.42V42.86Zm-3.7-27.12a4.3,4.3,0,1,1,4.29-4.3A4.3,4.3,0,0,1,11.41,15.74ZM42.89,42.86H35.48V31.25c0-2.77-.06-6.33-3.85-6.33s-4.45,3-4.45,6.13V42.86H19.77V19h7.11v3.25H27a7.8,7.8,0,0,1,7-3.85c7.5,0,8.89,5,8.89,11.38Z'/%3E%3C/svg%3E");
  --icon-linkedin: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath d='M11.19,50H.83V16.62H11.19ZM6,12.06A6,6,0,1,1,12,6,6.05,6.05,0,0,1,6,12.06ZM50,50H39.65V33.75c0-3.87-.08-8.84-5.39-8.84S28,29.12,28,33.47V50H17.69V16.62h9.94v4.55h.14a10.91,10.91,0,0,1,9.81-5.39C48.07,15.78,50,22.69,50,31.66V50Z'/%3E%3C/svg%3E");
  --icon-youtube: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z'/%3E%3C/svg%3E");
  --icon-tiktok: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z'/%3E%3C/svg%3E");
  --icon-pinterest: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512'%3E%3Cpath d='M496 256c0 137-111 248-248 248-25.6 0-50.2-3.9-73.4-11.1 10.1-16.5 25.2-43.5 30.8-65 3-11.6 15.4-59 15.4-59 8.1 15.4 31.7 28.5 56.8 28.5 74.8 0 128.7-68.8 128.7-154.3 0-81.9-66.9-143.2-152.9-143.2-107 0-163.9 71.8-163.9 150.1 0 36.4 19.4 81.7 50.3 96.1 4.7 2.2 7.2 1.2 8.3-3.3 .8-3.4 5-20.3 6.9-28.1 .6-2.5 .3-4.7-1.7-7.1-10.1-12.5-18.3-35.3-18.3-56.6 0-54.7 41.4-107.6 112-107.6 60.9 0 103.6 41.5 103.6 100.9 0 67.1-33.9 113.6-78 113.6-24.3 0-42.6-20.1-36.7-44.8 7-29.5 20.5-61.3 20.5-82.6 0-19-10.2-34.9-31.4-34.9-24.9 0-44.9 25.7-44.9 60.2 0 22 7.4 36.8 7.4 36.8s-24.5 103.8-29 123.2c-5 21.4-3 51.6-.9 71.2C65.4 450.9 0 361.1 0 256 0 119 111 8 248 8s248 111 248 248z'/%3E%3C/svg%3E%0A");
  --icon-pinterest-p: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z'/%3E%3C/svg%3E%0A");
  --icon-pinterest-square: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M384 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64h72.6l-2.2-.8c-5.4-48.1-3.1-57.5 15.7-134.7c3.9-16 8.5-35 13.9-57.9c0 0-7.3-14.8-7.3-36.5c0-70.7 75.5-78 75.5-25c0 13.5-5.4 31.1-11.2 49.8c-3.3 10.6-6.6 21.5-9.1 32c-5.7 24.5 12.3 44.4 36.4 44.4c43.7 0 77.2-46 77.2-112.4c0-58.8-42.3-99.9-102.6-99.9C153 139 112 191.4 112 245.6c0 21.1 8.2 43.7 18.3 56c2 2.4 2.3 4.5 1.7 7c-1.1 4.7-3.1 12.9-4.7 19.2c-1 4-1.8 7.3-2.1 8.6c-1.1 4.5-3.5 5.5-8.2 3.3c-30.6-14.3-49.8-59.1-49.8-95.1C67.2 167.1 123.4 96 229.4 96c85.2 0 151.4 60.7 151.4 141.8c0 84.6-53.3 152.7-127.4 152.7c-24.9 0-48.3-12.9-56.3-28.2c0 0-12.3 46.9-15.3 58.4c-5 19.3-17.6 42.9-27.4 59.3H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64z'/%3E%3C/svg%3E%0A");
}

* {
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

input, textarea, select {
  font: inherit;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
@media (min-width: 640px) {
  body {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  color: var(--heading-color);
  font-weight: 600;
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
  color: currentColor;
  text-decoration: none;
}
h1 + p, .h1 + p, h2 + p, .h2 + p, h3 + p, .h3 + p, h4 + p, .h4 + p, h5 + p, .h5 + p, h6 + p, .h6 + p {
  margin-top: 0;
}
h1:first-child, .h1:first-child, h2:first-child, .h2:first-child, h3:first-child, .h3:first-child, h4:first-child, .h4:first-child, h5:first-child, .h5:first-child, h6:first-child, .h6:first-child {
  margin-top: 0;
}
h1:last-child, .h1:last-child, h2:last-child, .h2:last-child, h3:last-child, .h3:last-child, h4:last-child, .h4:last-child, h5:last-child, .h5:last-child, h6:last-child, .h6:last-child {
  margin-bottom: 0;
}

h1, .h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.025em;
  margin-bottom: 1.5rem;
}
@media (min-width: 640px) {
  h1, .h1 {
    font-size: 4.5rem;
    line-height: 5rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

h2, .h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  letter-spacing: -0.02em;
}
@media (min-width: 640px) {
  h2, .h2 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

h3, .h3 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  margin-bottom: 1.5rem;
  letter-spacing: -0.015em;
}
@media (min-width: 640px) {
  h3, .h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0;
    margin-bottom: 1.75rem;
  }
}

h4, .h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
@media (min-width: 640px) {
  h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}

h5, .h5 {
  font-size: 1rem;
  line-height: 1.375rem;
}
@media (min-width: 640px) {
  h5, .h5 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

h6, .h6 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media (min-width: 640px) {
  h6, .h6 {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

a {
  text-decoration: underline;
}
@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}

p:has(.link) {
  margin: 2.75rem 0;
}
p:has(.button) {
  margin: 2rem 0;
}
@media (min-width: 640px) {
  p:has(.button) {
    margin: 3rem 0;
  }
}

p, ul, ol, blockquote, hr {
  margin: 1.5rem 0;
}
p + h1, p + .h1, p + h2, p + .h2, p + h3, p + .h3, p + h4, p + .h4, p + h5, p + .h5, p + h6, p + .h6, ul + h1, ul + .h1, ul + h2, ul + .h2, ul + h3, ul + .h3, ul + h4, ul + .h4, ul + h5, ul + .h5, ul + h6, ul + .h6, ol + h1, ol + .h1, ol + h2, ol + .h2, ol + h3, ol + .h3, ol + h4, ol + .h4, ol + h5, ol + .h5, ol + h6, ol + .h6, blockquote + h1, blockquote + .h1, blockquote + h2, blockquote + .h2, blockquote + h3, blockquote + .h3, blockquote + h4, blockquote + .h4, blockquote + h5, blockquote + .h5, blockquote + h6, blockquote + .h6, hr + h1, hr + .h1, hr + h2, hr + .h2, hr + h3, hr + .h3, hr + h4, hr + .h4, hr + h5, hr + .h5, hr + h6, hr + .h6 {
  /*margin-top: 2rem;
  @include breakpoint( $tablet ) {
    margin-top: 3rem;
  }*/
}
p:first-child, ul:first-child, ol:first-child, blockquote:first-child, hr:first-child {
  margin-top: 0;
}
p:last-child, ul:last-child, ol:last-child, blockquote:last-child, hr:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

hr {
  background: var(--color-neutral-200);
  height: 1px;
  border: none;
}

b, strong {
  font-weight: 700;
  color: var(--color-neutral-900);
}

em {
  font-style: italic;
}

address {
  font-style: normal;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.text-lg {
  font-weight: 500;
}
@media (min-width: 640px) {
  .text-lg {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1.75rem 0;
  }
}
.text-lg:first-child {
  margin-top: 0;
}
.text-lg:last-child {
  margin-bottom: 0;
}

.caption {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.kicker {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 700;
}

.siteContent ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-left: 1.5rem;
  list-style: none;
}
@media (min-width: 640px) {
  .siteContent ul {
    padding-left: 1.75rem;
    gap: 0.5rem;
  }
}
.siteContent ul li {
  position: relative;
}
.siteContent ul li:before {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
  background: currentColor;
  left: -0.75rem;
  translate: -50% -50%;
  top: 0.75rem;
}
@media (min-width: 640px) {
  .siteContent ul li:before {
    left: -0.875rem;
  }
}
.siteContent ul:not(:first-child) {
  margin-top: -0.75rem;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 600;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, outline-color 0.3s;
}
.link__text {
  display: block;
  border-bottom: 2px solid #D7D7D7;
  transition: border-color 0.3s;
}
.link__text:before {
  content: attr(data-text-mobile);
}
@media (min-width: 640px) {
  .link__text:before {
    content: attr(data-text-default);
  }
}
.link:after {
  content: "";
  display: block;
  mask: var(--icon-arrow) no-repeat center;
  width: 1.25rem;
  height: 1.25rem;
  background: var(--color-primary-500);
}
.link--plus:after {
  mask-image: var(--icon-plus);
}
.link--prev {
  flex-direction: row-reverse;
}
.link--prev:after {
  rotate: 180deg;
}
.link--back:after {
  display: none;
}
@media (hover: hover) {
  .link:hover .link__text {
    border-color: var(--color-primary-500);
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: var(--color-primary-500);
  color: #ffffff;
  min-height: 3.5rem;
  text-decoration: none;
  padding: 0.5rem 1.75rem;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 600;
  transition: background-color 0.3s;
}
@media (min-width: 1200px) {
  .button {
    padding: 0.5rem 2rem;
  }
}
@media (hover: hover) {
  .button:hover {
    background: var(--color-neutral-900);
  }
}

.mce-content-body {
  padding: 10px;
}

/*# sourceMappingURL=editor-style.css.map */
