.mediaBlock {
  position: relative;
  overflow: hidden;
  --padding-bottom: 71.5%;

  &:before {
    content: '';
    display: block;
    padding-bottom: var(--padding-bottom);
  }

  img,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.introBlock {
  @include breakpoint( $laptop ) {
    width: 50%;
  }
}


.serviceBlock {
  padding: var(--section-margin) 0;

  &:nth-child(odd) {
    background: var(--color-neutral-100);
  }

  &__header {
    margin-bottom: 24px;
    @include breakpoint( $laptop ) {
      margin-bottom: 40px;
    }
  }

  &__cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px 0;
  }

  &__imageCol {
    width: 100%;
    @include breakpoint( $laptop ) {
      width: calc( ( 100% - var(--grid-gap)*3 ) / 2 );
    }
  }

  &__mediaBlock {
    --padding-bottom: 61.45%;
  }

  &__textCol {
    width: 100%;
    @include breakpoint( $laptop ) {
      width: calc( ( 100% - var(--grid-gap)*3 ) / 2 );
      display: flex;
      align-items: center;
    }

    p:not(.text-lg) {
      @include breakpoint( $laptop ) {
        max-width: 550px;
      }
    }
  }
}


.featuredProjects {

  &__header {
    margin-bottom: 32px;
    @include breakpoint( $laptop ) {
      margin-bottom: 48px;
      display: flex;
      align-items: flex-end;
      gap: var(--grid-gap);
    }

    &Left,
    &Right {
      @include breakpoint( $laptop ) {
        flex: 1;
      }
    }

    &Right {
      display: none;
      @include breakpoint( $laptop ) {
        display: block;
        text-align: right;
      }
    }
  }

  &__listing {
    overflow: hidden;
    margin-right: calc( -1 * var(--container-padding-x) );
    padding-right: 43px;
    @include breakpoint( $laptop ) {
      margin: 0;
      padding: 0;
    }

    .tns-ovh {
      overflow: visible;
    }
  }
}


.projectsListing {
  display: flex;
  flex-direction: column;

  &__items {
    @include breakpoint( $tablet ) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      margin: 0 calc(-1 * var(--grid-gap) / 2);
    }

    &.tns-slider {
      margin: 0;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 48px;
    @include breakpoint( $tablet ) {
      width: 50%;
      padding: 0 calc( var(--grid-gap)/2 );
    }
    @include breakpoint( $laptop ) {
      margin-bottom: 96px;
    }

    &.tns-item {
      padding: 0;
      opacity: .4;
      transition: opacity .3s;
      @include breakpoint( $laptop ) {
        opacity: 1;
      }

      &.tns-slide-active {
        opacity: 1;
      }
    }

    &:nth-child(4n + 1),
    &:nth-child(4n + 4) {
      @include breakpoint( $laptop ) {
        width: calc( 100% / var(--grid-columns) * 8 - 1px );
      }

      .projectTeaser {

        &__mediaBlock {
          @include breakpoint( $laptop ) {
            --padding-bottom: calc( (100% - var(--grid-gap)) * .535 );
          }
        }
      }
    }

    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
      @include breakpoint( $laptop ) {
        width: calc( 100% / var(--grid-columns) * 4 );
      }

      .projectTeaser {

        &__mediaBlock {
          @include breakpoint( $laptop ) {
            --padding-bottom: 107%;
          }
        }
      }
    }
  }

  &__pagination {
    text-align: center;
  }
}


.projectTeaser {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid var(--color-neutral-300);
  height: 100%;
  transition: border-color .3s;
  @include breakpoint( $laptop ) {
    gap: 16px;
  }

  &__mediaBlock {
    --padding-bottom: 97.6%;

    img {
      scale: 1.05;
      transition: scale .3s;
    }
  }

  &__textContainer {
    flex: 1;
    padding: 0 40px 40px 0;
    @include breakpoint( $laptop ) {
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  &__categories {
    display: none;
    @include breakpoint( $laptop ) {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
      padding-bottom: .75rem;
      margin-bottom: auto;
    }
  }

  &__category {
    display: flex;
    align-items: center;
    background: var(--color-neutral-100);
    padding: 0 .75rem;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1rem;
    min-height: 1.5rem;
  }

  &__title {
    margin-bottom: .75rem;
    @include breakpoint( $laptop ) {
      @include letter-spacing(-10);
      margin-bottom: .375rem;
    }
  }

  &__subtitle {
    line-height: 1.375rem;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 12px;
    mask: var(--icon-arrow) no-repeat center;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--color-primary-500);
    rotate: -45deg;
    transition: rotate .3s;
    @include breakpoint( $laptop ) {
      bottom: 16px;
    }
  }

  &__overlayLink {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 10;
  }

  &:hover {
    @media (hover: hover) {
      border-color: var(--color-primary-500);

      &:after {
        rotate: 0deg;
      }
    }
  }

  &:hover & {
    @media (hover: hover) {

      &__mediaBlock {

        img {
          scale: 1;
        }
      }
    }
  }
}


.certificationBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1.5rem 0;
  @include breakpoint( $tablet ) {
    gap: 3rem 0;
  }
  @include breakpoint( $laptop ) {
    margin: 194px calc( -1 * var(--grid-gap)/2 );
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  &__header {
    @include breakpoint( $laptop ) {
      width: calc( 100% / var(--grid-columns) * 4 );
      padding: 0 calc( var(--grid-gap) / 2 );
    }
  }

  &__content {
    width: 100%;
    @include breakpoint( $laptop ) {
      width: auto;
      flex: 1;
      padding: 0 calc( var(--grid-gap) / 2 );
    }
  }

  &__logo {
    width: 125px;
    @include breakpoint( $tablet ) {
      width: 280px;
    }
    @include breakpoint( $laptop ) {
      order: 9999;
      padding: 0 calc( var(--grid-gap) / 2 );
      margin-left: 44px;
    }
  }
}


.ctaBlock {
  padding: 64px calc( var(--container-padding-x) * 2 );
  background: var(--color-neutral-100);
  text-align: center;
  @include breakpoint( $laptop ) {
    padding: 128px var(--container-padding-x);
  }

  &__inner {
    //max-width: 1180px;
    max-width: 1320px;
    margin: 0 auto;
  }
}


.imageTextBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px 0;

  &__imageCol {
    width: 100%;
    @include breakpoint( $laptop ) {
      width: calc( (100% - var(--grid-gap)) / 2);
    }
  }

  &__textCol {
    width: 100%;
    @include breakpoint( $laptop ) {
      display: flex;
      align-items: center;
      width: calc( (100% - var(--grid-gap)) / 2 - var(--grid-gap)/2 );
    }
    @include breakpoint( $desktop ) {
      padding: 0 var(--container-padding-x);
    }
  }

  &--textLeft {
    @include breakpoint( $laptop ) {
      flex-direction: row-reverse;
    }
  }

  &--textLeft & {

    &__textCol {
      @include breakpoint( $desktop ) {
        padding: 0 calc( var(--container-padding-x) * 2 ) 0 0;
      }
    }
  }
}


.testimonialsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px 0;

  &__textCol {
    width: 100%;
    @include breakpoint( $laptop ) {
      width: calc( (100% - var(--grid-gap)) / 2 - var(--container-padding-x)*2 );
    }
  }

  &__testimonialsCol {
    width: 100%;
    @include breakpoint( $laptop ) {
      width: calc( (100% - var(--grid-gap)) / 2 );
    }
  }
}


.testimonial {
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 18px;
    height: 17px;
    mask: var(--icon-quotes) no-repeat center;
    mask-size: contain;
    background: var(--color-primary-500);
    margin-bottom: 24px;
    @include breakpoint( $laptop ) {
      position: absolute;
      top: 5px;
      left: calc( var(--grid-gap) * -1 );
      translate: -100% 0;
    }
  }

  &__text {
    margin-bottom: 32px;
  }

  &:not(:last-child) {
    @include breakpoint( $laptop ) {
      padding-bottom: 40px;
      border-bottom: 1px solid var(--color-neutral-300);
      margin-bottom: 40px;
    }
  }
}


.postNav {
  position: relative;
  text-align: center;

  &__prev,
  &__next {
    position: absolute;
    top: 0;
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }
}