.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  margin: 0;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 600;
  transition: background-color .3s, border-color .3s, color .3s, outline-color .3s;

  &__text {
    display: block;
    border-bottom: 2px solid #D7D7D7;
    transition: border-color .3s;
  }

  &:after {
    content: "";
    display: block;
    mask: var(--icon-arrow) no-repeat center;
    width: 1.25rem;
    height: 1.25rem;
    background: var(--color-primary-500);
  }

  &--plus:after {
    mask-image: var(--icon-plus);
  }

  &--prev {
    flex-direction: row-reverse;

    &:after {
      rotate: 180deg;
    }
  }

  &--back:after {
    display: none;
  }

  &:hover & {
    @media (hover: hover) {

      &__text {
        border-color: var(--color-primary-500);
      }
    }
  }
}


.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: var(--color-primary-500);
  color: #ffffff;
  min-height: 3.5rem;
  text-decoration: none;
  padding: .5rem 1.75rem;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 600;
  transition: background-color .3s;
  @include breakpoint( $laptop ) {
    padding: .5rem 2rem;
  }

  &:hover {
    @media (hover: hover) {
      background: var(--color-neutral-900);
    }
  }
}