input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="search"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  border-radius: 0;
  margin: 0;
  height: 64px;
  padding: 0;
  border-bottom: 1px solid var(--color-neutral-400);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-neutral-700);
  @include breakpoint( $tablet ) {
    font-size: 1.5rem;
  }
}

select {
  padding-top: 0;
  padding-bottom: 0;
  background: var(--icon-angle) no-repeat right 5px center;
  appearance: none;
  color: var(--color-neutral-700);
}

textarea {
  height: 144px;
  padding: 20px 0;
}

@include placeholder {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-neutral-700);
  @include breakpoint( $tablet ) {
    font-size: 1.5rem;
  }
}


.formContainer {

}

.formContent {

}

.formFields {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 0;
  margin: 0 calc( var(--grid-gap) / -2 );
  @include breakpoint( $tablet ) {
    gap: 40px 0;
  }
}

.formField {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 calc( var(--grid-gap) / 2 );
  @include breakpoint( $tablet ) {
    width: 50%;
  }

  &__header {

  }

  &__title {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__body {

  }

  span.error {
    text-align: right;
    font-size: 14px;
    color: yellow;
    position: absolute;
    top: 100%;
    right: 0;
  }

  &--fullWidth {
    width: 100%;
  }
}


.formButtons {
  position: relative;
  margin-top: 1.5rem;
  @include breakpoint( $tablet ) {
    margin-top: 2.5rem;
  }

  input[type="submit"] {
    display: none;
  }

  .wpcf7-spinner {
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
  }
}