.siteHeader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 3000;
  transition: translate .3s;
  @include breakpoint( $laptop ) {
    position: fixed;
    z-index: 5000;
  }

  &__inner {
    position: relative;
    height: var(--header-height);
  }

  &__logo {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../images/logo.png') no-repeat center top;
    background-size: 116px auto;
    width: 118px;
    height: 70px;
    transition: width .3s, height .3s, top .3s, left .3s;
    @include breakpoint( $tablet ) {
      width: 180px;
      height: 106px;
      background-size: 178px;
    }
    @include breakpoint( $laptop ) {
      background-size: 116px auto;
      width: 118px;
      height: 70px;
      top: 32px;
      transform: none;
    }
    @include breakpoint( $lg ) {
      background-size: 178px auto;
      width: 180px;
      height: 106px;
    }
  }

  &--sticky {

  }

  &.hidden {
    translate: 0 -150px;
  }

  &.condensed & {

    &__logo {
      @include breakpoint( $laptop ) {
        top: 20px;
        left: -10px;
        width: 60px;
        height: 50px;
      }
      @include breakpoint( $lg ) {
        left: -40px;
        width: 142px;
        height: 58px;
        background-size: 142px;
      }
    }
  }
}


.btnMenu {
  position: fixed;
  top: 38px;
  right: 0;
  padding: 0 1.5rem;
  z-index: 4000;
  background: var(--color-primary-500);
  color: #ffffff;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  min-height: 48px;
  transition: visibility .3s, opacity .3s, top .3s;
  @include breakpoint( $laptop ) {
    display: none;
  }

  &__hamburger {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;

    span {
      display: block;
      background: #000000;
      width: 30px;
      height: 2px;
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      transition: all .3s;

      &:nth-child(1) {
        margin-top: -9px;
      }
      &:nth-child(3) {
        margin-top: 9px;
      }
    }
  }
}
body.scrolled .btnMenu {
  top: 0;
}