@import "mixins";

$xxxs: 360px;
$xxs: 480px;
$xs: 640px;
$sm: 960px;
$md: 1120px;
$lg: 1360px;
$xl: 1600px;
$xxl: 1920px;

$tablet: $xs;
$laptop: $md;
$desktop: $xl;

:root {
  --container-max-width: 1920px;
  --container-padding-x: 16px;
  --header-height: 102px;
  --section-margin: 65px;
  --grid-columns: 4;
  --grid-gap: 16px;
  @include breakpoint( $xs ) {
    --container-padding-x: 3.75vw;
  }
  @include breakpoint( $lg ) {
    //--container-padding-x: 40px;
  }
  @include breakpoint( $desktop ) {
    --header-height: 170px;
    --section-margin: 96px;
    --grid-columns: 12;
    --grid-gap: 24px;
  }
}