@import "mixins";

$xxxs: 360px;
$xxs: 480px;
$xs: 640px;
$sm: 960px;
$md: 1120px;
$lg: 1360px;
$xl: 1600px;
$xxl: 1920px;

$tablet: $xs;
$laptop: $md;
$desktop: $lg;

:root {
  --container-max-width: 1400px;
  --container-padding-x: 16px;
  --header-height: 102px;
  --section-margin: 65px;
  @include breakpoint( $tablet ) {
    --container-padding-x: 30px;
  }
  @include breakpoint( $laptop ) {
    --container-padding-x: 40px;
  }
}